$red : #E12319;
$blue : rgb(10, 14, 23);
$white : #F1F1F1;

// $instagram : #E4405F;
// $behance : #1769FF;
// $github : #6E5494;
// $portfolio : #03001a;

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: $red;
}
::-webkit-scrollbar-track {
    background: $white;
}

body{
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $blue;
    color: $white;
}

.picture{
    border: 2px $red solid;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 20px 0;
    background: url(http://qbuteau.fr/portfolio/img/qbuteau-presentation.webp);
    background-size: 150%;
    background-position: center;
}

h1{
    margin: 2px 0;
    font-weight: 600;
    font-family: "Montserrat";
}

h3{
    margin: 2px 0 35px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "Outfit";
}


a{
    margin: 8px 0;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    gap: 40px;
    color: $white;
    font-size: 18px;
    width: 400px;
    height: 65px;
    font-family: "Montserrat";
    font-weight: 600;
    border-radius: 40px;
    transition: 0.2s;
    i{
        font-size: 30px;
        text-align: center;
    }
    &:hover{
        transform: scale(1.05);
    }
}

$colors: (
  instagram: #E4405F,
  behance: #1769FF,
  github: #171515,
  portfolio: #03001a,
  linkedin: #0077B5,
  mail: #D44638
);

@each $name, $color in $colors {
  .#{$name} {
    background-color: rgba($color, 0.4);
    border: 2px solid $color;
    &:hover{
        background-color: $color;
    }
  }
}

@media screen and (max-width: 600px){
    a{
        height: 60px;
        width: 70%;
        font-size: 16px;
        i{
            font-size: 25px;
        }
    }
}




